.summary-container {
  padding: 48px 156px 80px;
}

.heading {
  font-family: "Aeonik";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #2e2e38;
  text-align: center;
  margin-bottom: 16px;
}

.subheading {
  font-family: "Inter";
  font-size: 20px;
  line-height: 28px;
  color: #2e2e38;
  margin-bottom: 40px;
  text-align: center;
}
