<mat-toolbar class="configurator-header">
  <mat-toolbar-row class="configurator-header-row">
    <button
      mat-button
      class="configuration-header-button"
      (click)="handleNavigateBack()"
    >
      <div class="conigurator-header-button-back">
        <img src="assets/backArrowIcon.svg" />
        <p class="header-button-back-text car-year">
          {{ selectedConfiguration?.car?.carYear }}
        </p>
        <p class="header-button-back-text car-model">
          {{ selectedConfiguration?.car?.carModel }}
        </p>
      </div>
    </button>
    <ng-container
      *ngIf="
        (currentRoute$ | async) === '/configurator/view';
        else navigationBar
      "
    >
      <div class="configurator-header-container">
        <button
          mat-button
          class="configuration-header-button header-container button-edit"
          (click)="handleNavigateConfigureExterior()"
        >
          Edit configuration
        </button>
        <button
          mat-button
          class="configuration-header-button header-container button-delete"
          (click)="handleDelete()"
        >
          Delete
        </button>
      </div>
    </ng-container>
    <ng-template #navigationBar>
      <div class="navbar-link-container">
        <a
          class="navbar-link-number"
          routerLink="/configurator/configure-exterior"
          routerLinkActive="navbar-link-active"
          >01 <span class="navbar-link-text">Exterior</span></a
        >
        <a
          class="navbar-link-number"
          routerLink="/configurator/configure-interior"
          routerLinkActive="navbar-link-active"
          >02 <span class="navbar-link-text">Interior</span></a
        >
        <a
          class="navbar-link-number"
          routerLink="/configurator/configuration-summary"
          routerLinkActive="navbar-link-active"
          >03 <span class="navbar-link-text">Summary</span></a
        >
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
