<mat-toolbar class="configurator-header">
  <mat-toolbar-row class="configurator-header-row">
    <button mat-button class="configuration-header-button">
      <div class="conigurator-header-button-back">
        <img src="assets/configurator/backArrowIcon.svg" />
        <p class="header-button-back-text car-year">2022</p>
        <p class="header-button-back-text car-model">AUDI RS6 AVANT</p>
      </div>
    </button>
    <div class="configurator-header-container">
      <button
        mat-button
        class="configuration-header-button header-container button-edit"
      >
        Edit configuration
      </button>
      <button
        mat-button
        class="configuration-header-button header-container button-delete"
      >
        Delete
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
