.sidebar {
  background-color: #fcfcfd;
  border-left: 1px solid #c7c7d1;
  position: absolute;
  left: auto;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 356px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-picker-items-container {
  padding: 24px 40px 0;
}

.color-picker-header {
  display: flex;
  width: 100%;
  margin-bottom: 64px;
  align-items: center;
  justify-content: space-between;
}

.color-picker-header-text {
  font-family: "Inter";
  font-size: 24px;
  line-height: 32px;
  color: #2e2e38;
}

.color-picker-header-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.color-picker-card-container {
  display: grid;
  row-gap: 40px;
}

.price-container-wrapper {
  padding: 0 40px 0;
}

.drawer-button {
  display: flex;
  padding: 22px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1e1ed2;
  margin-top: 24px;
  border: none;
  line-height: 0;
}

.drawer-button-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fcfcfd;
  margin-right: 12px;
}
