.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 156px;
}

.image-container {
  width: 420px;
  height: 100%;
}

.image {
  width: 420px;
  height: 135px;
  object-fit: cover;
}
