<div class="home-screen">
  <div class="home-screen-heading-container">
    <h2 class="home-screen-heading">My saved configurations</h2>
    <button mat-button color="primary" class="home-screen-heading-button">
      Configure a car
    </button>
  </div>
  <div class="home-screen-empty-state-container">
    <img
      class="home-screen-empty-state-img"
      src="assets/home/emptyStateCar.svg"
    />
    <p class="home-screen-empty-state-text">
      You haven't configured any cars yet. You may <br />
      choose to
      <a style="color: blue">configure some now</a>
    </p>
  </div>
</div>
