.home-page-empty-state-container {
  margin-top: 172px;
}

.home-page-empty-state-img {
  opacity: 0.1;
  margin-bottom: 24px;
}

.home-page-empty-state-text {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #73738c;
}
