.register-form {
  display: grid;
  max-width: 400px;
  height: 100%;
  margin: auto;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.register-form-button {
  height: 50px;
}

.link-container {
  text-align: center;
}
