<div [@slideInOut]="sidebarPickerShown" class="sidebar">
  <div class="color-picker-items-container">
    <div class="color-picker-header">
      <p class="color-picker-header-text">
        {{
          configurationPickerType === 'color'
            ? 'Paint color'
            : configurationPickerType === 'wheels'
            ? 'Wheels'
            : 'Color'
        }}
      </p>
      <button class="color-picker-header-button" (click)="close(false)">
        <img src="assets/closeIcon.svg" />
      </button>
    </div>

    <container-element
      class="color-picker-card-container"
      [ngSwitch]="configurationPickerType"
      *ngIf="configurationPickerType"
    >
      <ng-container *ngSwitchCase="'color'">
        <app-drawer-item
          *ngFor="let color of carColors"
          [itemImage]="color.iconUrl"
          [itemName]="color.colorName"
          [itemPrice]="color.colorPrice"
          [isSelected]="color.colorId === selectedConfiguration?.color?.colorId"
          (click)="handleConfigurationChanged(color)"
        ></app-drawer-item>
      </ng-container>
      <ng-container *ngSwitchCase="'wheels'">
        <app-drawer-item
          *ngFor="let wheels of carWheels"
          [itemImage]="wheels.iconUrl"
          [itemName]="wheels.wheelsModel"
          [itemPrice]="wheels.wheelsPrice"
          [isSelected]="
            wheels.wheelsId === selectedConfiguration?.wheels?.wheelsId
          "
          (click)="handleConfigurationChanged(wheels)"
        ></app-drawer-item>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <app-drawer-item
          *ngFor="let interior of carInteriors"
          [itemImage]="interior.iconUrl"
          [itemName]="interior.interiorName"
          [itemPrice]="interior.interiorPrice"
          [isSelected]="
            interior.interiorId === selectedConfiguration?.interior?.interiorId
          "
          (click)="handleConfigurationChanged(interior)"
        ></app-drawer-item>
      </ng-container>
    </container-element>
  </div>
  <div>
    <div class="price-container-wrapper">
      <app-price-container
        containerDirection="row"
        [selectedConfiguration]="selectedConfiguration"
      ></app-price-container>
    </div>
    <button mat-button class="drawer-button" (click)="close(true)">
      <span class="drawer-button-text">Done</span>
    </button>
  </div>
</div>
