
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$car-configurator-primary: mat.define-palette(mat.$indigo-palette);
$car-configurator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$car-configurator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$car-configurator-theme: mat.define-light-theme((
  color: (
    primary: $car-configurator-primary,
    accent: $car-configurator-accent,
    warn: $car-configurator-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($car-configurator-theme);

/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext);
@import url(http://fonts.cdnfonts.com/css/optician-sans);
@import url(//db.onlinewebfonts.com/c/8f2a9d487bbbc60974cd132fc3a63862?family=Aeonik);

$custom-typography: mat-typography-config($font-family: '"Inter", sans-serif;');
@include mat.core($custom-typography);

html, body { height: 100%; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
