<mat-toolbar color="primary" class="summary-footer">
  <mat-toolbar-row class="footer-container">
    <div class="footer-car-details-container">
      <p class="footer-car-year">
        {{ selectedConfiguration?.car?.carYear }}
      </p>
      <p class="footer-car-name">
        {{ selectedConfiguration?.car?.carModel }}
      </p>
    </div>
    <div class="footer-button-container">
      <div class="price-container">
        <app-price-container
          containerDirection="row"
          [selectedConfiguration]="selectedConfiguration"
        ></app-price-container>
      </div>
      <button
        mat-button
        class="footer-button"
        type="button"
        (click)="handleConfigurationSave()"
        [disabled]="isLoadingSavingConfiguration"
      >
        <mat-icon *ngIf="isLoadingSavingConfiguration"
          ><mat-spinner color="accent" diameter="20"> </mat-spinner
        ></mat-icon>
        <span *ngIf="!isLoadingSavingConfiguration"
          >Save your configuration
        </span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
